<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>
    <header class="sticky-shrinknav-header">
      <div id='shadow-container'>
        <h1 class="sticky-shrinknav-header-title title-font">IdioMatch</h1></div>
      <ul class="menu align-center sticky-shrinknav-menu">
        <li class='title-font' style="font-size:20pt"><a href="#">IdioMatch</a></li>
        <li class="title-font"><a href="#">HOW IT WORKS</a></li>
        <li class="title-font"><a href="#">SIGN UP</a></li>
        <li class="title-font"><a href="#">LOGIN</a></li>
      </ul>
    </header>
    <!--Conversation Exchanges with native speakers white  -->
    <!--What is this thing blue  -->
    <!--website statistics blue  -->
    <!--Find an IdioMatch today! with photo cream  -->
    <!--English/Spanish/French/Czech/Russian/Icelandic  -->


    <div class="marketing-site-features">
      <div class="row">
        <div class="small-12 medium-3 columns">
          <i class="fa fa-star-o " aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">SHARE YOUR SKILLS</h4>
          <p class="marketing-site-features-desc">Our app helps others who want to learn your language, and teach them about your country and culture.</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-comment-o" aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">SPEAK AND PRACTICE WITH NATIVE SPEAKERS</h4>
          <p class="marketing-site-features-desc">Practice your pronunciation, and learn words and expressions people actually use.</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-lightbulb-o" aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">PRACTICE ANY LANGUAGE FOR FREE</h4>
          <p class="marketing-site-features-desc">No matter what language you’re learning, there’s a user who can help you get fluent in no time.</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-user-o" aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">CONVERSATION WITH NEW PEOPLE</h4>
          <p class="marketing-site-features-desc">With 1 member in the IdioMatch community from around the world, there’s always that one guy to meet.</p>
        </div>
      </div>
    </div>

    <div id='test-margin'></div>
    <div class="container">
      <div class="grid-1 callout primary">
      </div>

      <div class="grid-2 callout warning">
        <h4 class=title-font style="color:#fff;"> LEARN LANGUAGES ONLINE </h4>
      </div>
    </div>




    <div id='margin'></div>
    <div class="columns shrink footer text-center">
      <h3 class='title-font'> &copy IdioMatch</h3>
      <div class="rounded-social-buttons">
        <a class="social-button facebook" href="#"></a>
        <a class="social-button twitter" href="#"></a>
        <a class="social-button linkedin" href="#"></a>
        <a class="social-button youtube" href="#"></a>
        <a class="social-button instagram" href="#"></a>
        <a class="social-button pinterest" href="#"></a>
        <a class="social-button google-plus" href="#"></a>
        <a class="social-button github" href="#"></a>
        <a class="social-button tumblr" href="#"></a>
      </div>
    </div>



    <% include ./partials/scripts %>
  </body>

</html>
