<!DOCTYPE html>
<html>
<% include ./partials/head %>

  <body>

    <form action="auth/login" method="POST" >
      <div id='login-form' class="sign-in-form title-font">
        <h4 class="text-center">Sign In<i class="fa fa-times-circle-o" aria-hidden="true" style="margin-left:130px;" onclick="hideLogin()"></i></h4>
        <label for="sign-in-form-username">Username</label>
        <input type="text" class="sign-in-form-username" id="sign-in-form-username" name='username'>
        <label for="sign-in-form-password">Password</label>
        <input type="text" class="sign-in-form-password" id="sign-in-form-password" name='password'>
        <button type="submit" class="sign-in-form-button">Sign In</button>
      </div>
    </form>
    <header class="sticky-shrinknav-header">
      <div id='shadow-container'>
        <h1 class="sticky-shrinknav-header-title title-font">IdioMatch</h1></div>
      <ul class="menu align-center sticky-shrinknav-menu">
        <li class='title-font' style="font-size:20pt"><a href="#">IdioMatch</a></li>
        <li class="title-font"><a href="./matches">HOW IT WORKS</a></li>
        <li class="title-font"><a href="./register">SIGN UP</a></li>
        <li class="title-font"><a onclick="showLogin()">LOGIN</a></li>
        <li class="title-font"><a href='./profile'>PROFILE</a></li>

      </ul>
    </header>

    <div id='test-margin'></div>
    <div class="container">
      <div id="globe-container" class="grid-1 callout primary">
        <i class="fa fa-globe big-globe" aria-hidden="true"></i>
      </div>

      <div id='globe-text-container' class="grid-2 callout warning">
        <h4 class="title-font"> CONVERSATION EXCHANGE</h4>
        <p id='globe-text-description' class='title-font'>Our app helps you find native speakers of almost any language who want to learn your language in exchange. Practice listening, improve your pronunciation, and learn to speak a foreign language like a local – no matter where you are.</p>
      </div>
    </div>

    <div id='idiomatch-statistics' class="marketing-site-features">
      <div class="row">
        <div class="small-12 medium-3 columns">
          <i class="fa fa-star-o " aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font" style="color:#fff;">30+</h4>
          <p class="marketing-site-features-desc title-font" style="color:#fff;">LANGUAGE COMBINATIONS</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-star-o " aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font" style="color:#fff;">5+</h4>
          <p class="marketing-site-features-desc title-font" style="color:#fff;">USERS</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-star-o " aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font" style="color:#fff;">1</h4>
          <p class="marketing-site-features-desc title-font" style="color:#fff;">COUNTRY</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-star-o " aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font" style="color:#fff;">1</h4>
          <p class="marketing-site-features-desc title-font" style="color:#fff;">Tiny Community</p>
        </div>
      </div>
    </div>


    <h4 class='title-font' id='single-sentence'>FIND YOUR IDIOMATCH. START PRACTICING TODAY.</h4>
    <div id='container-margin'></div>
    <div class="container">
      <div id='photo-container' class="grid-1 callout primary">
        <img id='travel-photo' src="../images/travel_photo.jpeg" />
      </div>

      <div class="grid-2 callout warning">
        <h4 class=title-font style="color:#fff;"> LEARN LANGUAGES ONLINE </h4>
        <div class="title-font upper-flags" style="color:#fff;">
          <img class='flag-image' src="../images/french_flag.png" /> Learn French
          <img class='flag-image' src="../images/american_flag.png" /> Learn English
          <img class='flag-image' src="../images/spain_flag.png" /> Learn Spanish
        </div>
        <div class=title-font style="color:#fff;">
          <img class='flag-image' src="../images/russia_flag.png" /> Learn Russian
          <img class='flag-image' src="../images/iceland_flag.png" /> Learn Icelandic
          <img class='flag-image' src="../images/czech_flag.png" /> Learn Czech

        </div>

      </div>
    </div>

    <div id='close-gap'></div>
    <div class="marketing-site-features">
      <div class="row">
        <div class="small-12 medium-3 columns">
          <i class="fa fa-star-o " aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">SHARE YOUR SKILLS</h4>
          <p class="marketing-site-features-desc">Our app helps others who want to learn your language, and teach them about your country and culture.</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-comment-o" aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">SPEAK AND PRACTICE WITH NATIVE SPEAKERS</h4>
          <p class="marketing-site-features-desc">Practice your pronunciation, and learn words and expressions people actually use.</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-lightbulb-o" aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">PRACTICE ANY LANGUAGE FOR FREE</h4>
          <p class="marketing-site-features-desc">No matter what language you’re learning, there’s a user who can help you get fluent in no time.</p>
        </div>
        <div class="small-12 medium-3 columns">
          <i class="fa fa-user-o" aria-hidden="true" style="color:rgb(25, 181, 208)"></i>
          <h4 class="marketing-site-features-title title-font">CONVERSATION WITH NEW PEOPLE</h4>
          <p class="marketing-site-features-desc">With 1 member in the IdioMatch community from around the world, there’s always that one guy to meet.</p>
        </div>
      </div>
    </div>




    <div id='margin'></div>
    <div class="columns shrink footer text-center">
      <h3 class='title-font'> &copy IdioMatch</h3>
      <p class='title-font'> Created by Dashiell Lumas </p>
      <div class="rounded-social-buttons">
        <a class="social-button twitter" href="https://twitter.com/DashiellLumas"></a>
        <a class="social-button linkedin" href="https://www.linkedin.com/in/dashiell-lumas/"></a>
        <a class="social-button github" href="https://github.com/Dashy10"></a>
      </div>
    </div>



    <% include ./partials/scripts %>
  </body>

</html>
