<!DOCTYPE html>
<html>
<% include ./partials/match_head %>

  <body>
    <form>
      <div id='login-form' class="sign-in-form">
        <h4 class="text-center">Sign In<i class="fa fa-times-circle-o" aria-hidden="true" style="margin-left:130px;" onclick="hideLogin()"></i></h4>
        <label for="sign-in-form-username">Username</label>
        <input type="text" class="sign-in-form-username" id="sign-in-form-username">
        <label for="sign-in-form-password">Password</label>
        <input type="text" class="sign-in-form-password" id="sign-in-form-password">
        <button type="submit" class="sign-in-form-button">Sign In</button>
      </div>
    </form>

    <ul class="menu align-center sticky-shrinknav-menu">
      <li class='title-font' style="font-size:20pt"><a href="/">IdioMatch</a></li>
      <li class="title-font"><a href="./matches">HOW IT WORKS</a></li>
      <li class="title-font"><a href="./register">SIGN UP</a></li>
      <li class="title-font"><a onclick="showLogin()">LOGIN</a></li>
    </ul>

    <div class="page-wrap">
      <%# <form class="hero-search-filter-form" action="">
        <label for="findmain"> Teaching</label>
        <input id="findmain" class="hero-search-filter-form-find" type="text" />
        <div class="divider">&nbsp;</div>
        <label for="findlearning">Learning</label>
        <input id="findlearning" class="hero-search-filter-form-near" type="text" />
        <button class="button" onclick="getAllUsers()"><i class="fa fa-search"></i></button>
      </form>%>
        <div id='clear-flags'></div>
        <div class="title-font upper-flags margin-left-flags" style="color:rgb(25, 181, 208);">
          <img id='french-flag-users' class='flag-image-match hvr-wobble-vertical' src="../images/french_flag.png" onclick="showFrench()" />French
          <img id='english-flag-users' class='flag-image-match hvr-wobble-vertical' src="../images/american_flag.png" onclick="showEnglish()" />English
          <img id='spanish-flag-users' class='flag-image-match hvr-wobble-vertical' src="../images/spain_flag.png" onclick="showSpanish()" />Spanish
          <img id='russian-flag-users' class='flag-image-match hvr-wobble-vertical' src="../images/russia_flag.png" onclick="showRussian()" />Russian
          <img id='icelandic-flag-users' class='flag-image-match hvr-wobble-vertical' src="../images/iceland_flag.png" onclick="showIcelandic()" />Icelandic
          <img id='czech-flag-users' class='flag-image-match hvr-wobble-vertical' src="../images/czech_flag.png" onclick="showCzech()" />Czech
        </div>
        <div id='data-container' class='title-font'>
          <% if(data){ %>
            <% include ./partials/user_profiles %>
              <%} %>
        </div>
    </div>
    <footer class="site-footer">
      <h3 class='title-font'> &copy IdioMatch</h3>
      <p class='title-font'> Created by Dashiell Lumas </p>
      <div class="rounded-social-buttons">
        <a class="social-button twitter" href="https://twitter.com/DashiellLumas"></a>
        <a class="social-button linkedin" href="https://www.linkedin.com/in/dashiell-lumas/"></a>
        <a class="social-button github" href="https://github.com/Dashy10"></a>
      </div>
    </footer>


    <% include ./partials/scripts %>
  </body>

</html>
