<!DOCTYPE html>
<html>
<%- include('partials/register_head') %>

  <body>
    <ul class="menu align-center sticky-shrinknav-menu">
      <li class='title-font' style="font-size:20pt"><a href="/">IdioMatch</a></li>
      <li class="title-font"><a href="./matches">HOW IT WORKS</a></li>
      <li class="title-font"><a href="./register">SIGN UP</a></li>
      <li class="title-font"><a onclick="showLogin()">LOGIN</a></li>
    </ul>
    <div id='margin-top'></div>

    <div class="login-box title-font title-font">
      <div class="login-box-form-section">
        <h1 class="login-box-title">Sign up</h1>
        <form method='POST' action='/auth/register'>
        <input class="login-box-input" type="text" name="username" placeholder="Username" />
        <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
        <input class="login-box-input" type="password" name="password" placeholder="Password" />
        <input class="login-box-input" type="text" name="mainlanguage" placeholder="Main Language" />
        <input class="login-box-input" type="text" name="learninglanguage" placeholder="Learning Language" />
        <input class="login-box-input" type="text" name="skype" placeholder="Skype" />
        <input class="login-box-input" type="text" name="whatsapp" placeholder="Whatsapp" />
        <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign me up" />
      </form>
      </div>
    </div>



    <form>
      <div id='login-form' class="sign-in-form">
        <h4 class="text-center">Sign In<i class="fa fa-times-circle-o" aria-hidden="true" style="margin-left:130px;" onclick="hideLogin()"></i></h4>
        <label for="sign-in-form-username">Username</label>
        <input type="text" class="sign-in-form-username" id="sign-in-form-username">
        <label for="sign-in-form-password">Password</label>
        <input type="text" class="sign-in-form-password" id="sign-in-form-password">
        <button type="submit" class="sign-in-form-button">Sign In</button>
      </div>
    </form>



    <div class="columns shrink footer text-center">
      <h3 class='title-font'> &copy IdioMatch</h3>
      <p class='title-font'> Created by Dashiell Lumas </p>
      <div class="rounded-social-buttons">
        <a class="social-button twitter" href="https://twitter.com/DashiellLumas"></a>
        <a class="social-button linkedin" href="https://www.linkedin.com/in/dashiell-lumas/"></a>
        <a class="social-button github" href="https://github.com/Dashy10"></a>
      </div>
    </div>


    <% include ./partials/scripts %>
  </body>

</html>
