/*title-font*/
.title-font {
  font-family: 'Lato', sans-serif;
}
/*navbar styles*/
.sticky-shrinknav-menu {
  position: absolute;
  top: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: rgb(25, 181, 208);
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}

.sticky-shrinknav-menu a {
  color: #fefefe;
}
/*end of navbar-styles*/

/*login styles*/

.sign-in-form {
  display: none;
  width: 300px;
  height: 350px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #3d454f;
}

.sign-in-form h4 {
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: #adadad;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: white;
}

.sign-in-form input:focus {
  opacity: .8;
}

.sign-in-form-username, .sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.sign-in-form-button:hover {
  background-color: rgb(25, 181, 208);
  border-color: rgb(25, 181, 208);
}
/*end of login-styles*/
