.title-font {
  font-family: 'Lato', sans-serif;
}

#data-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /*border: 5px solid black;*/
  width: 1000px;
  margin-top: 50px;
  color: white;
}

.users-container {
  margin: 5px;
  text-align: center;
  border-radius: 4%;
  background-color: rgb(25, 181, 208);
  width: 300px;
}


/* BEGIN: LOGIN IN FORM */

.sign-in-form {
  display: none;
  z-index: 999;
  width: 300px;
  height: 350px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: rgb(42, 44, 43);
}

.sign-in-form h4 {
  color: rgb(25, 181, 208);
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: rgb(25, 181, 208);
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: rgb(25, 181, 208);
}

.sign-in-form input:focus {
  opacity: .8;
}

.sign-in-form-username, .sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid rgb(25, 181, 208);
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.sign-in-form-button:hover {
  cursor: pointer;
  background-color: rgb(25, 181, 208);
  border-color: rgb(25, 181, 208);
}

.fa-times-circle-o:hover {
  color: rgb(25, 181, 208);
  cursor: pointer;
}


/*END: LOGIN FORM*/

.sticky-shrinknav-menu {
  position: relative;
  top: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: rgb(25, 181, 208);
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}

.sticky-shrinknav-menu a {
  color: #fefefe;
}


/*FOOTER*/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  text-align: center;
  background-color: rgb(42, 44, 43);
  color: #fff;
}

@charset "UTF-8";
.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}


/*END: FOOTER AND SOCIAL MEDIA BUTTONS*/


/*finder thing*/

.hero-search-filter {
  background: url("https://images.pexels.com/photos/115095/pexels-photo-115095.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") center center no-repeat;
  height: 300px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .hero-search-filter-menu li a {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.hero-search-filter-menu a {
  color: #fefefe;
  font-weight: bold;
}

.hero-search-filter-menu a .fa {
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

.hero-search-filter-menu a:hover {
  text-decoration: underline;
}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background: #fefefe;
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-form .divider {
  background-color: rgb(25, 181, 208);
  width: 1px;
}

.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: rgb(25, 181, 208);
  font-weight: bold;
}

.hero-search-filter-form input, .hero-search-filter-form .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 95%;
  }
}

.hero-search-filter-form-find, .hero-search-filter-form-near {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus, .hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
  color: rgb(25, 181, 208);
}

.button {
  background-color: rgb(25, 181, 208) !important;
}
