/* BEGIN: LOGIN IN FORM */

.title-font {
  font-family: 'Lato', sans-serif;
}

.match-results {
  /*display: none;*/
}
#profile-card {
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  width: 500px;
  height:500px;
  color: rgb(25, 181, 208);
  background-color: rgb(42, 44, 43);
  border-radius: 1.5em;
}

.match-results {
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
  width: 500px;
  height:500px;
  color: rgb(25, 181, 208);
  background-color: rgb(42, 44, 43);
  border-radius: 1.5em;
}

#logout {
  background-color: rgb(25, 181, 208);
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 4%;
  margin-top: 250px;
}

#logout:hover {
  cursor: pointer;
  background-color: rgb(57,201,258);
}

#flex-wrapper {
  /*width:1000px;*/
  display: flex;
  /*margin: 0 auto;*/
}


.sign-in-form {
  display: none;
  z-index: 999;
  width: 300px;
  height: 350px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: rgb(42, 44, 43);
}

.sign-in-form h4 {
  color: rgb(25, 181, 208);
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.sign-in-form label {
  text-transform: uppercase;
  color: rgb(25, 181, 208);
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-in-form input {
  color: rgb(25, 181, 208);
}

.sign-in-form input:focus {
  opacity: .8;
}

.sign-in-form-username, .sign-in-form-password {
  border-radius: 30px;
  border: none;
  opacity: .1;
  transition: all ease .4s;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid rgb(25, 181, 208);
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}

.sign-in-form-button:hover {
  cursor: pointer;
  background-color: rgb(25, 181, 208);
  border-color: rgb(25, 181, 208);
}

.fa-times-circle-o:hover {
  color: rgb(25, 181, 208);
  cursor: pointer;
}


/*END: LOGIN FORM*/

.sticky-shrinknav-menu {
  position: relative;
  top: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  background-color: rgb(25, 181, 208);
  transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}

.sticky-shrinknav-menu a {
  color: #fefefe;
}


/*FOOTER*/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  text-align: center;
  background-color: rgb(42, 44, 43);
  color: #fff;
}

@charset "UTF-8";
.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}


/*END: FOOTER AND SOCIAL MEDIA BUTTONS*/
